{% extends 'admin/_base_admin.html.twig' %}

{% block title %}New Calendar{% endblock %}

{% block content %}
    <h1>Créer un evenement</h1>

    {{ include('calendar/_form.html.twig') }}

    <a href="{{ path('app_calendar_index') }}">Revenir à la liste</a>
{% endblock %}
